.config
*.gitconfig
.ssh
.zsh-history
local
.config/hub
.config/configstore/update-notifier-npm.json
.config/joplin*
.config/heroku
.emacs.d/request
.config/yarn/
.emacs.d/bookmarks
.emacs.d/transient
.emacs.d/smex-items
